{{ define "Footer" }}

<div style='margin-top:5em;color:#707070;font-size:smaller;'>
by: Allan D. Searle &mdash; 2023-03-03
</div>

</div><!-- end main div -->

<div id='footimage'>
<img src='/images/mysql_go_docker.png'>
</div>
</body></html>
{{ end }}