{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Golang_MySQL</title>
<meta charset="utf-8">
<link rel='stylesheet' type='text/css' href='/css/site.css'>
</head>
<body>
<div id='main'>
<h1 style='background-color:#efefef;'>Golang &amp; containerized MySQL</h1>
<h2>Golang C.R.U.D. &amp; containerized MySQL with Healthdata</h2>
{{ end }}